.dashboard {
  text-align: center;
  padding: 20px;
}

/* Header */
.header h1 {
  font-size: 2.5rem;
  color: #cfdfef;
}

.header p {
  font-size: 1.2rem;
  color: #dbdada;
}

/* Search Section */
.searchSection {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #48484825;
  backdrop-filter: blur(40px);
  padding: 2rem 0rem;
  width: 80%;
  border-radius: 1rem;
}

.searchSection input {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.searchSection button {
  background: linear-gradient(90deg, #516a83 0%, #6fbaef 100%);
  color: #fff;
  padding: 12px 28px;
  border: none;
  margin-top: 14px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 18px;
  width: 20rem;
  box-shadow: 0 4px 18px rgba(81, 106, 131, 0.15);
  transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
  letter-spacing: 0.5px;
}

.searchSection button:hover {
  background: linear-gradient(90deg, #3a4e63 0%, #4e8ad4 100%);
  box-shadow: 0 8px 24px rgba(81, 106, 131, 0.25);
  transform: scale(1.04);
}

/* Map */
.mapContainer {
  width: 50%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: #2c3e50 3px solid;
}
.listContainer {
  width: 40%;
  padding-bottom: 1rem;
  max-height: 100%;
  padding-top: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgba(78, 71, 71, 0.136);
  backdrop-filter: blur(40px);
  overflow-y: auto;
}
.listContainer h2 {
  color: #cfdfef;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  overflow-y: auto;
}
.pharmacyList {
  max-height: 100%;
  overflow-y: auto;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 2rem;
  padding: 2rem;
}
.pharmacyCard {
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.pharmacyCard:hover {
  scale: 1.05;
}
