.signupContainer {
  max-width: 400px;
  margin: auto;
  margin-top: 2rem;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signupContainer h2 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.signupContainer button {
  margin: 10px 0;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.signupContainer button:hover {
  background-color: #218838;
}

.error {
  color: red;
  font-size: 14px;
}
